@model List<ContohWeb.Models.Student>

@{
    ViewData["Title"] = "Students";
    ViewData["bController"] = "Students";
    ViewData["bAction"] = "Index";
    ViewData["bValue"] = "Students";
    ViewData["bItemValue"] = "Student List";
}

<h2>Student List</h2>

@Html.Raw(ViewData["pesan"])

<a asp-action="Create" class="btn btn-info btn-sm">Create new Student</a><br /><br />

<form asp-action="Index" method="get" class="form-inline">
    <div class="form-group">
        <label for="searchString">Masukan Keyword :</label>&nbsp;
        <input type="text" class="form-control" name="searchString" id="searchString" />
    </div>
    <button type="submit" class="btn btn-success btn-sm">Search</button>
</form><br />

<table class="table table-striped">
    <tr>
        <th>Student ID</th>
        <th><a asp-action="Index" asp-route-sortOrder="@ViewData["FirstSortParam"]">First Name</a></th>
        <th><a asp-action="Index" asp-route-sortOrder="@ViewData["LastSortParam"]">Last Name</a></th>
        <th><a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParam"]">Enrollment Date</a></th>
        <th></th>
    </tr>
    @foreach(var student in Model) { 
        <tr>
            <td>@student.StudentID</td>
            <td>@student.FirstMidName</td>
            <td>@student.LastName</td>
            <td>@student.EnrollmentDate.ToString("MM-dd-yyyy")</td>
            <td>
                <a asp-action="Details" asp-route-id="@student.StudentID" class="btn btn-success btn-sm">details</a>&nbsp;
                <a asp-action="Edit" asp-route-id="@student.StudentID" class="btn btn-warning btn-sm">edit</a>&nbsp;
                <a asp-action="Delete" asp-route-id="@student.StudentID" class="btn btn-danger btn-sm">delete</a>
            </td>
        </tr>
    }
</table>

